<template>
  <div class="grid" :style="styleObject">
    <div v-for="n in hAmount" :key="n">
      <div v-for="m in wAmount" :key="m" :style="styleObject1"></div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class Grid extends Vue {
  @Prop() private w!: number;
  @Prop() private h!: number;
  @Prop() private hAmount!: number;
  @Prop() private wAmount!: number;

  get styleObject() {
    return {
      "box-sizing": "border-box",
      border: "solid #000000 0px"

      //   "box-shadow": "inset 0 0 1px 1px #fff"
    };
  }

  get styleObject1() {
    return {
      "box-sizing": "border-box",
      width: this.w + "px",
      height: this.w + "px",
      "border-right-style": "solid",
      "border-bottom-style": "solid",
      "border-width": "thin",
      // "border-right": "1px solid #000000",
      // "border-bottom": "1px solid #000000",
      // opacity: 0.5,
      display: "inline-block",
      float: "left",
      padding: 0
    };
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.grid {
  position: fixed;
  top: 0px;
  left: 0px;
}
</style>
