<template>
  <div class="canvas">
    <div :style="styleWrap" class="wrap index">
      <!-- <div img:style="styleTitle" class="index title">HTML</div> -->
      <img src="../assets/typography-week8_HTMLregular.svg" class="HTML left" :style="styleSVGFlat" />
      <!-- fallback image in CSS -->

      <!-- <div class="index"></div> -->
    </div>
    <div :style="styleWrap" class="wrap index">
      <!-- <div img:style="styleTitle" class="index title">HTML</div> -->
      <img
        src="../assets/typography-week8_CSSregular.svg"
        class="CSS left"
        :style="styleSVGCurve(1)"
      />

      <!-- <div class="index"></div> -->
    </div>
    <div :style="styleWrap" class="wrap index">
      <!-- <div img:style="styleTitle" class="index title">HTML</div> -->
      <img
        src="../assets/typography-week8_SCRIPTregular.svg"
        class="CSS left"
        :style="styleSVGCurve(2)"
      />

      <!-- <div class="index"></div> -->
    </div>
    <Grid :w="cellwidth" :h="cellwidth" :wAmount="cell.wAmount" :hAmount="cell.hAmount"></Grid>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import Grid from "./Grid.vue";

interface Cell {
  wAmount: number;
  hAmount: number;
}

@Component({
  components: {
    Grid
  }
})
export default class Index extends Vue {
  private cell: Cell = { wAmount: 72, hAmount: 80 };
  private vw: number = Math.max(
    document.documentElement.clientWidth,
    window.innerWidth || 0
  );
  get cellwidth() {
    return Math.floor((0.55 * this.vw) / this.cell.wAmount);
  }
  get styleSVGFlat() {
    return {
      height: this.cellwidth * 6 + "px"

      // "font-size": this.cellwidth * 3 + "px",
      // "margin-left": this.cellwidth * 2 - 1 + "px",
    };
  }

  styleSVGCurve(n: number) {
    return {
      height: this.cellwidth * 6 * 1.052886 + "px",
      position: "relative",
      "margin-top": ((-1 * this.cellwidth * 6 * 0.052886) / 2) * (n - 1) + "px"

      // "font-size": this.cellwidth * 3 + "px",
      // "margin-left": this.cellwidth * 2 - 1 + "px",
    };
  }

  get styleWrap() {
    return {
      "margin-bottom":
        this.cellwidth * 2 + (-this.cellwidth * 6 * 0.052886) / 2 + "px"
    };
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.wrap.index {
  font-family: Helvetica, Arial, sans-serif;
  /* float: left; */
  width: 100%;
  margin-bottom: 20px;
  /* position: relative; */
  display: table;
  background-color: #ffff00;
}

.index:after {
  clear: both;
}

.left {
  text-align: left;
  left: 0;
  display: table-row;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.index .title {
  font-size: 100%;
}
</style>
