<template>
  <div id="app">
    <Index />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Index from "./components/Index.vue";

@Component({
  components: {
    Index
  }
})
export default class App extends Vue {}
</script>

<style>
#app {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 0px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  top: -41px;
  left: -41px;
}

/* @font-face {
  font-family: "Bahnschrift";
  src: url("/assets/fonts/Bahnschrift.woff") format("woff");
  font-weight: normal;
  font-style: normal;
} */
</style>
